stages:
  - build
  - test
  - deploy

variables:
  SECURE_FILES_DOWNLOAD_PATH: './'

before_script:
  #- echo "http://mirror.yandex.ru/mirrors/alpine/v3.21/main" > /etc/apk/repositories
  - apk update && apk add --no-cache curl bash
  - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
  - mkdir -p ./certs
  - mv jwt-private.pem jwt-public.pem ./certs/

build:
  stage: build
  script:
    - echo "Билд приложения fastapi" 
    - docker-compose -f docker-compose-ci_prod.yaml build app_ssam
  only:
    - main

test:
  stage: test
  script:
    - echo "Запуск контейнеров и тестовой бд"
    - docker-compose -f docker-compose-ci_prod.yaml up postgres redis -d
    - sleep 30
    - echo "Выполнение миграции"
    - docker-compose -f docker-compose-ci_prod.yaml run --rm app_ssam alembic upgrade head -v
    - sleep 10
    - echo "Выполнение тестов"
    - docker-compose -f docker-compose-ci_prod.yaml run --rm app_ssam docker/app.sh pytest 
  only:
    - main

deploy:
  stage: deploy
  script:
    - echo "Деплой"
    - docker compose --env-file .env.ci_prod -f docker-compose-ci_prod.yaml up -d
  only:
    - main
  when: on_success