stages:        
  - build_test
  - test
  - build_deploy
  - deploy 

variables:
  DOCKER_COMPOSE_TEST: "docker-compose --env-file .env.ci_test -f docker-compose-ci_test.yaml"
  DOCKER_COMPOSE_PROD: "docker-compose --env-file .env.ci_prod -f docker-compose-ci_prod.yaml"
  SECURE_FILES_DOWNLOAD_PATH: './'
  
before_script:
  - echo "http://mirror.yandex.ru/mirrors/alpine/v3.21/main" > /etc/apk/repositories
  - apk update && apk add --no-cache curl bash
  - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
  - mkdir -p ./certs
  - mv jwt-private.pem jwt-public.pem ./certs/

build-test-job:       
  stage: build_test
  script:
    - $DOCKER_COMPOSE_TEST down --volumes --remove-orphans
    - $DOCKER_COMPOSE_TEST build

test-job:
  stage: test
  script:
    - echo "Запуск тестовых контейнеров"
    - echo "Выполнение тестов"
    - $DOCKER_COMPOSE_TEST up
    - echo "Остановка контейнеров после тестов"
    - $DOCKER_COMPOSE_TEST down --volumes --remove-orphans

#build-deploy-job:
#  stage: build_deploy
#  script:
#    - $DOCKER_COMPOSE_PROD build
#
#deploy-job:
#  stage: deploy
#  script:
#    - echo "Запуск контейнеров в prod"
#    - $DOCKER_COMPOSE_PROD up -d