.DS_Store
.venv/
__pycache__/
postgres_data_project_ssam/
app/migrations/versions/
app/migrations/README
app/migrations/script.py.mako
11.html
test.py
testsms.py
sms_aero.py
certs/
.vscode
validationOAuth2.py
routerOAuth2.py
provider_copy.py
.env
.env.*
*.env
login_get.html