services:
  postgres:
    container_name: pg_db_prod
    image: postgres:15
    env_file:
      - .env.ci_prod
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_prod:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d/

  redis:
    container_name: redis_prod
    env_file:
      - .env.ci_prod
    image: redis:latest
    ports:
      - "127.0.0.1:6379:6379"
  
  app_ssam:
    container_name: app_prod
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - redis
    env_file:
      - .env.ci_prod
    command: ["docker/app.sh", "gunicorn"]
    ports: 
      - "7777:8000"

  celery:
    container_name: celery_prod
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis
    env_file:
      - .env.ci_prod
    command: ["docker/celery.sh", "celery"]

  flower:
    container_name: flower_prod
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis
    env_file:
      - .env.ci_prod
    command: ["docker/celery.sh", "flower"]

volumes:
  postgres_prod: 